/* Estilização da barra lateral */
.sidebar .sidebar-content {
    background-color: #f0f0f5;
}

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #1f77b4;
}

h2 {
    color: #ff7f0e;
}

.stSelectbox, .stRadio {
    margin-bottom: 20px;
}
